<section class="article" id="article">
    <div class="container">
        <div class="article__grid">
            <div class="article__content">
                <div class="article_container">
                    <h2 class="article__title">
                        Welcome to Booksy - your cozy corner for handpicked reads.
                    </h2>
                    <p class="article__text">
                        We believe books are more than just stories - they&rsquo;re
                        companions, doorways, and memories. Whether you&rsquo;re chasing
                        adventures or quiet moments, we&rsquo;re here to help you find your
                        next favorite book.
                    </p>
                </div>
                <figure class="article__media">
                <picture>                   
                    <source type="image/webp" 
                            media="(min-width: 1440px)" 
                            srcset="/img/article/article-desk-min@1x.webp 1x,
                                    /img/article/article-desk-min@2x.webp 2x"
                    />                    
                    <source type="image/webp" 
                            media="(min-width: 768px)" 
                            srcset="/img/article/article-tab-min@1x.webp 1x,
                                    /img/article/article-tab-min@2x.webp 2x"
                    />
                    <img class="article__img" 
                        src="/img/article/article-mob-min@1x.webp" 
                        srcset="/img/article/article-mob-min@1x.webp 1x,
                                /img/article/article-mob-min@2x.webp 2x" 
                        width="343" 
                        height="248"
                        alt="Warm bookshelf with soft light" 
                        loading="lazy" 
                        decoding="async"
                    >
                </picture>
            </figure>
            </div>
        </div>
    </div>
</section>
