<section class="" id="book_modal_window">
  <div class="modal_back">
    <div class="container modal">
      <button class="close-btn" type="button">
        <svg class="icon-Vector" width="15" height="15">
          <use href="/img/symbol-defs.svg#icon-Vector"></use>
        </svg>
      </button>
      <div class="book-img"></div>
      <div class="book-crd-txt"></div>
      <div class="crd-stable-btns">
        <div class="count-block">
          <button class="minus" type="button">-</button>
          <div class="div-count"></div>
          <button class="plus" type="button">+</button>
        </div>
        <button class="add-btn" type="button">Add To Cart</button>
        <button class="buy-btn" type="button">Buy Now</button>
      </div>
    </div>
  </div>
</section>
