<section class="seciton-books" id="books">
  <div class="container books-wraper">
    <h2 class="books-title visually-hidden">Trending books</h2>

    <!-- Блок категорій -->
    <div class="category-wraper">
      <div class="category-header-wraper">
        <h3 class="category-title">Books</h3>
        <p id="category-count" class="category-count">Показано 0 з 0</p>
      </div>
      <div class="category-list-wraper">
        <button class="dropdown-btn">
          Categories
          <svg class="icon-books-category" width="12"
            height="8">
            <use href="/img/symbol-defs.svg#icon-ac-down"></use>
          </svg>
          <!-- <svg
            width="12"
            height="8"
            viewBox="0 0 12 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.293 0.792969L5.99997 5.08597L1.70697 0.792969L0.292969 2.20697L5.99997 7.91397L11.707 2.20697L10.293 0.792969Z"
              fill="#0B0500"
            />
          </svg> -->
        </button>
        <ul id="category-list" class="category-list"></ul>
      </div>
    </div>

    <!-- Список книг -->
    <div class="list-wraper">
      <ul id="books-list" class="books-list"></ul>
    </div>

    <div class="load-more-wrap">
      <div class="loader-back">
        <div class="loader"></div>
      </div>
      <button class="load-more-button" id="load-more" type="button">
        Show More
      </button>
    </div>
  </div>
</section>
