<footer class="footer" id="footer">
  <div class="footer-content container">

        <a class="footer-logo" href="./index.html">
          <svg class="footer-logo-icon" width="84" height="36">
            <use href="/img/favicon.svg#icon-logo"></use>
          </svg>
        </a>
        
        <nav class="footer-navigation"></nav>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#books">Books</a></li>
          <li><a href="#feedback">Feedback</a></li>
          <li><a href="#location">Location</a></li>
        </ul>
      </nav>
       

      <div class="footer-form">
        <h3>Join</h3>
        <form action="#" method="post" class="subscribe-form">
          <input
            type="email"
            name="email"
            placeholder="Enter your email"
            required
            pattern="^\w+([\.-]?\w+)*@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          />
          <button type="submit">Sign Up</button>
        </form>
        <p class="required-text">* Required field</p>
      </div>
      
<div class="copytight">
 <p class="footer-copy">© 2025 Booksy. All rights reserved.</p>
</div>
 
  
  </div>
</footer>
