<footer class="footer" id="footer">
  <div class="footer-content container">
    <div class="footer-content-nav">
      <a class="footer-logo" href="./index.html">
        <svg class="footer-logo-icon" width="84" height="36">
          <use href="/img/symbol-defs.svg#icon-AlternateFalse"></use>
        </svg>
      </a>
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-link"><a href="#hero">Home</a></li>
          <li class="footer-nav-link"><a href="#books">Books</a></li>
          <li class="footer-nav-link"><a href="#feedbacks">Feedback</a></li>
          <li class="footer-nav-link"><a href="#location">Location</a></li>
        </ul>
      </nav>
    </div>

  <div class="footer-form">
  <h3>Join</h3>
  <form action="#" method="post" class="subscribe-form">
    <input
      class="subscribe-form-input"
      type="email"
      name="email"
      placeholder="Enter your email"
      required
      pattern="^\w+([\.-]?\w+)*@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
    />
    <button class="subscribe-button" type="submit">Sign Up</button>
  </form>
  <p class="required-text">* Required field</p>
</div>

  <div class="footer-copyright ">
    <p class="copyright-text">&copy; 2025 Booksy. All rights reserved.</p>
  </div>
</footer>
