
<section id="location" class="location">
  <div class="location__container">
    <div class="location__content"> 
    <p class="location__label">Location</p>
    <h2 class="location__title">How to find us</h2>
    <p class="location__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
       Suspendisse varius enim in eros elementum tristique.</p>
    </div>

    <ul class="location__list">
      <li class="location__item">
        <svg class="location__icon" width="24" height="25" aria-label="Email icon">
        <use href="/img/icomoon/symbol-defs.svg#icon-envelope"></use>
        </svg>
    <div class="location__text-content"><span class="location__label-text">Email</span>
        <a href="mailto:info@booksy.com" class="location__link">info@booksy.com</a>
    </div> </li>

     <li class="location__item">
        <svg class="location__icon" width="24" height="25" aria-label="Phone icon">
          <use href="/img/icomoon/symbol-defs.svg#icon-phone"></use>
        </svg>
    <div class="location__text-content"><span class="location__label-text">Phone</span>
        <a href="tel:+61234567890" class="location__link">+61 234 567 890</a>
    </div> </li>

      <li class="location__item">
        <svg class="location__icon" width="24" height="25" aria-label="Office icon">
          <use href="/img/icomoon/symbol-defs.svg#icon-map"></use>
        </svg>
        <div class="location__text-content">
        <span class="location__label-text">Office</span>
        <address class="location__address">
  <a href="https://maps.google.com?q=123+Books+St,+Sydney+NSW+2000,+AU" target="_blank" class="location__link">
    123 Books St, Sydney NSW 2000, AU
  </a>
</address>
        </div>
      </li>
    </ul>

<div class="location__map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.7706979798436!2d151.20708109999998!3d-33.8697999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae3fa7449bc1%3A0xb5b4043ea960a5fc!2sDymocks%20Sydney!5e0!3m2!1sru!2sua!4v1760278798179!5m2!1sru!2sua"
   style="border:0;" 
   allowfullscreen="" 
   loading="lazy" 
   referrerpolicy="no-referrer-when-downgrade">
  </iframe>
</div>
</div>
</section>


