<section class="navbar-mobile" id="navbar">
    <div class="container">
        <div class="navbar-wrap-top">
            <a class="navbar-logo" href="./index.html">
            <svg class="navbar-logo-icon" width="84" height="36">
                <use href="/img/symbol-defs.svg#icon-AlternateFalse"></use>
            </svg>
            </a>
            <button class="navbar-close-btn" type="button" data-menu-open>
                <svg class="navbar-close-icon" width="24" height="24">
                    <use href="/img/symbol-defs.svg#icon-x"></use>
            </svg>
        </button>
        </div>
        
            <nav class="navbar-nav">
                <ul class="navbar-nav-list">
                    <li class="navbar-nav-item">
                        <a class="navbar-nav-link" href="#hero">Home</a>
                    </li>

                    <li class="navbar-nav-item">
                        <a class="navbar-nav-link" href="#books">Books</a>
                    </li>

                    <li class="navbar-nav-item">
                        <a class="navbar-nav-link" href="#feedbacks">Feedbacks</a>
                    </li>

                    <li class="navbar-nav-item">
                        <a class="navbar-nav-link" href="#events">Events</a>
                    </li>
                    <li class="navbar-nav-item">
                        <a class="navbar-nav-link" href="#location">Location</a>
                    </li>
                </ul>
            </nav>
        



    </div>
    
</section>