.modal_back {
  background: rgba(1, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal_back.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.container.modal {
  border-radius: 16px;
  position: absolute;
  background-color: #fceee6;
  padding: 64px 16px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: calc(100vh - 64px);
  scrollbar-width: none;
  align-items: center;
}

.loader-back {
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #fceee6;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.loader-back.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.close-btn {
  z-index: 10;
  position: absolute;
  align-self: flex-end;
  top: 16px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  margin-bottom: 16px;
}

.error {
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #fceee6;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.error.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.icon-Vector {
  fill: #0b0500;
}

.book-img {
  margin-bottom: 24px;
  width: 309px;
  height: 467px;
  margin: 0;
}

.image {
  border-radius: 8px;
  margin: 0;
}

.book-crd-title {
  margin-bottom: 8px;
}

.book-crd-author {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 8px;
}

.book-crd-txt {
  margin-bottom: 24px;
}

.book-crd-price {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.01em;
}

.count-block {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.div-count {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(11, 5, 0, 0.15);
  border-radius: 4px;
  padding: 8px 12px;
  width: 42px;
  height: 40px;
  background: rgba(11, 5, 0, 0.05);
}

.plus {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  background-color: transparent;
  border-radius: 4px;
  padding: 8px 16px;
  width: 32px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.minus {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  background-color: transparent;
  border-radius: 4px;
  padding: 8px 16px;
  width: 32px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.add-btn {
  border: 1px solid #e15d05;
  border-radius: 4px;
  padding: 12px 24px;
  width: 100%;
  height: 48px;
  background: #e15d05;
  color: white;
  margin-bottom: 24px;
}

.buy-btn {
  border: 1px solid #0b0500;
  border-radius: 4px;
  padding: 12px 24px;
  width: 100%;
  height: 48px;
  background-color: transparent;
  margin-bottom: 32px;
}

.icon-ac-down {
  fill: #0b0500;
}

.ac-trigger::after {
  content: none !important;
}

/* .ac-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}

.ac.li-ac.is-active .ac-panel {
  border-top: 1px solid rgba(11, 5, 0, 0.15);
  width: 100%;
  height: 59px;
  padding: 16px 0px;
  background-color: transparent;
  margin: 0;
} */

#ac-0 {
  margin: 0;
  width: 100%;
}

#ac-1 {
  margin: 0;
}

#ac-2 {
  margin: 0;
}
#ac-trigger-0 > button {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fceee6;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  align-items: center;
  border-top: 1px solid rgba(11, 5, 0, 0.15);
}
#ac-trigger-1 > button {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fceee6;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  align-items: center;
  border-top: 1px solid rgba(11, 5, 0, 0.15);
}
#ac-trigger-2 > button {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fceee6;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  align-items: center;
  border-top: 1px solid rgba(11, 5, 0, 0.15);
  border-bottom: 1px solid rgba(11, 5, 0, 0.15);
}

#ac-panel-0 > p {
  padding: 0px 0px 24px;
  background-color: #fceee6;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
#ac-panel-1 > p {
  padding: 0px 0px 24px;
  background-color: #fceee6;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
#ac-panel-2 > p {
  padding: 0px 0px 24px;
  background-color: #fceee6;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

/* .ac .ac-trigger {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
} */
.rotate {
  transform: rotate(180deg);
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container.modal {
    max-height: calc(100vh - (22.5px + 22.5px));
    max-width: calc(100% - 64px);
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
  }
  .txt-crd-about-book {
    width: 307px;
  }
  .close-btn {
    right: 16px;
  }
  .buy-btn {
    margin-bottom: 32px;
  }
  .count-block {
    margin-bottom: 24px;
  }
  .book-crd-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.01em;
  }
  .book-crd-author {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }
  .book-crd-price {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.01em;
  }
  .txt-count {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
  }
  .add-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
  .buy-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container.modal {
    max-height: calc(100% - (64px + 64px));
    max-width: calc(100% - (70px + 70px));
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 64px 104px;
  }

  .txt-crd-about-book {
    width: 100%;
  }

  .book-crd-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.01em;
    margin-bottom: 8px;
  }
  .book-crd-author {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 8px;
  }
  .book-crd-price {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.01em;
    margin-bottom: 24px;
  }
  .count-block {
    margin: 0;
  }
  .txt-count {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
  }
  .add-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    grid-row-start: 2;
    width: 309px;
    height: 48px;
    padding: 12px 24px;
  }
  .buy-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    grid-row-start: 2;
    width: 309px;
    height: 48px;
    padding: 12px 24px;
  }
  .crd-stable-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 16px;
    height: 104px;
    margin-bottom: 32px;
    width: 642px;
  }
}
