.footer {
  background-color: #ea8d50;
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.footer-logo {
  display: flex;
  align-items: center;
  padding-bottom: 32px;
  font-weight: 700;
  font-size: 1.1rem;
}


  .footer-logo:focus,
.footer-logo:hover {
    background-color: black;
    border-radius: 5px;
   
}
.footer-logo:hover .footer-logo-icon,
.footer-logo:focus .footer-logo-icon {
    fill: #fff;
}


.footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.footer-nav a {
  text-decoration: none;
  color: #000;
  transition: opacity 0.3s;
}

.footer-nav a:hover {
  opacity: 0.7;
}

/* форма */
.footer-form {
  width: 100%;
  text-align: left;
}

.footer-form h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}

.subscribe-form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
}

.subscribe-form input[type='email'] {
  padding: 12px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background-color: #d68953;
}

.subscribe-form input::placeholder {
  color: rgba(68, 68, 68, 0.8);
  opacity: 1;
  border-radius: 4px;
}

.subscribe-form button {
  height: 48px;
  border-radius: 4px;
  padding: 12px 24px;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid;
}

.subscribe-form button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.required-text {
  font-size: 12px;
}

/* копірайт */
.footer-copyright {
  width: 100%;
  max-width: 343px;
  margin-top: 80px;
  border-top: 1px solid #fceee673;
  text-align: center;
}

.copyright-text {
  padding-top: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

/* Tablet */



@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 64px;
  }


  .footer {
   padding-bottom: 80px;
   padding-top:80px ;
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  

  .footer-logo {
  justify-content: center;
  }





  .footer-nav {
    flex-direction: row;
    gap: 24px;

    flex-grow: 1;
    justify-content: center;
  }

  .footer-form {
    width: auto;
    text-align: left;
  }

  .subscribe-form {
    gap: 8px;
    width: auto;
  }

  .subscribe-form input[type='email'] {
    width: 250px;
    flex-grow: 0;
  }

  .footer-copyright {
    /* Центруємо та розширюємо копірайт-блок */
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
}
