.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.header-nav-list {
  display: none;
}
.header-logo {
  width: 84px;
  height: 36px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.menu-btn {
  width: 24px;
  height: 24px;
  padding: 12px;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .header-nav-link {
     font-size: 16px;
  

    padding-top: 24px;
    padding-bottom: 24px;

    transition: opacity 250ms;
  }

  .header-nav-link:hover,
  .header-nav-link:focus {
    opacity: 0.5;
  }


}

