.scroll-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  border: none;
  border-radius: 4px;
  padding: 12px;
  cursor: pointer;
  color: #fff;
  background-color: #e15d05;
    display: none; 
  z-index: 1000;
  transition: opacity 0.3s, visibility 0.3s;
}

.scroll-top.show {
  display: block;
}
